body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

.container { 
    max-width: 1158px;
    padding-left: auto;
    padding-right: auto; 
    margin-left: auto; 
    margin-right: auto; 
    }

.section-title {
    background:#2E2F42;
    height: 600px;
    background-image: linear-gradient(
      to bottom,
       rgba(46, 47, 66, 0.70),
       rgba(46, 47, 66, 0.70)
    ), url(../images/people-office\ 1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-first {
    background: #F4F4FD;
}

.logo-header {
    padding: 24px 0 24px 0;
}

.logo-first {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1.2;
    line-height: 21px;
}

.logo-second {
    color: #2E2F42;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.2;
    margin-right: 76px;
}

.pages {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    padding: 24px 0 24px 0;
    margin-right: 40px;
    cursor: pointer;
}

.pages:last-child {
    margin-right: 0;
}

.pages:hover {
    color: #4D5AE5;
    transform: cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms;
    cursor: pointer;
}

.pages:focus {
    color: #4D5AE5;
    transform: cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms;
    cursor: pointer;
}



.contacts {
    color: #434455;
    font-size: 16px;
    line-height: 1.5; 
    font-style: normal;
}

.contacts:hover {
    color: #4D5AE5;
    transform: cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms;
    cursor: pointer;
}
.contacts:focus {
    color: #4D5AE5;
}

.first-text {
    color: #fff;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1;

    padding-top: 188px;
    margin-bottom: 86px;
}

.order {
    display: block;
    margin: 0 auto;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    background-color: #4D5AE5;
    border: none;
    cursor: pointer;
    padding: 16px 32px 16px 32px;
    border-radius: 4px;
    margin-bottom: 188px;
}

.order:hover {
    background-color: #404BBF;
    transform: cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms;
    cursor: pointer;
}

.strategy {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;

    text-align: center;
    margin-top: 32px;
}

.strategy-first {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;

    text-align: left;
    margin-top: 32px;
}

.strategy-portfolio {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;

    text-align: start;
    margin-top: 32px;
    margin-left: 16px;
}

.thumb {
    display: flex;
    position: absolute;
    width: 360px;
    height: 300px;
    background-color: #4D5AE5;
    transform: translatey(100%);
    transition: transform 250ms ease-in-out;
    z-index: 1;
  }
  
  .item-portfolio:hover .thumb {
    transform: translatey(0);
  }

.thumb-position {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    width: 296px;
}

.employment {

    display: block;
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    text-align: center;
    margin-top: 8px;
    
}

.cart {
    display: block;
}

.list-footer {
    display: block;
    margin-top: 100px;
    margin-left: 120px;
}

.employment-first {

    display: block;
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    text-align: left;
    margin-top: 8px;
    margin-bottom: 32px;
    
}

.employment-portfolio {
    display: block;
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    text-align: start;
    margin-top: 8px;
    margin-bottom: 32px;
    margin-left: 16px;
}

.title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    text-transform: capitalize;
    padding-top: 120px;
    padding-bottom: 72px;
}

.footer {
    background:#2E2F42;
}

.logo-footer {
    color: #F4F4FD;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
}

.footer-text {
    display: flex;
    color:#F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    width: 264px;
    padding-bottom: 100px;
}

.footer-list {
    display: flex;
}

.footer-item {
    display: flex;
    background-color: #4D5AE5;
    margin-right: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid, #000000;
   
}

.footer-item:hover{
    background-color: #31D0AA;
    cursor: pointer;
    transition: 250ms;
    cursor: pointer;
    transform: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-item:last-child {
    margin-right: 0;
}

.text-footer {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    margin-bottom: 16px;
}

.footer-container {
    display: flex;
}

.header-navigation {
    display: flex;
}

.navigation-site {
    display: flex;
}

.adr {
    display: flex;
   
}

.mail {
    padding: 24px 0 24px 0;
    margin-left: 332px;
}

.tel {
    padding: 24px 0 24px 0;
    margin-left: 40px;
}

.event {
    display: flex;
    margin-bottom: 120px;
}

.event-first {
    margin-right: 24px;
}

.event-first:last-child {
    margin-right: 0;
}

.team {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-bottom: 120px;
}

.item-team {
    flex-basis: ((100% - 24px)/4);
    background-color: #FFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 120px;
}

.item-portfolio {
    flex-basis: ((100% - 24px)/3);
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    background:#FFF;
    position: relative;
    z-index: 2;
}

.item-portfolio:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    cursor: pointer;
}

.logo {
    display: inline-block;
    margin-top: 101px;
    margin-bottom: 17px;
}

.icon {
    display: flex;
    margin-top: 120px;
    
}

.icon-item {
    display: flex;
    
    background-color: #F4F4FD;
    margin-right: 24px;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid, #000000;
}

.icon-item:last-child {
    margin-right: 0;
}

.icon-symbol {
    width: 64px;
    height: 64px;
    align-self: center;
    margin: auto;
}

.social {
    display: flex;
    margin-top: 8px;
 
    margin-bottom: 32px;   
}

.social-item {
    display: flex;
  
    background-color: #4D5AE5;
    margin-right: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid, #000000;
    margin-left: auto;
    margin-right: auto;
    
}

.social-item:hover{
    background-color: #404BBF;
    cursor: pointer;
    transform: cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms;
}

.social-symbol {
    width: 16px;
    height: 16px;
    align-self: center;
    margin: auto;
    fill: #2E2F42;
}

.subscribe {
    background-color: #2E2F42;
    height: 40px;
    width: 264px;
    border: #FFF;
    border-radius: 4px;
    margin-right: 16px;
}

.list-footer-item {
    display: block;
    margin-top: 100px;
    margin-left: 80px;
}

.subscribe::placeholder {
    color: #FFF;
    
  }

  .btn-footer {
    background-color: #4D5AE5;
    color: #FFF;
    border: none;
    border-radius: 4px;
    width: 165px;
    height: 40px;
  }

  .btn-footer:hover {
    background-color: #31D0AA;
    transform: cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms;
    cursor: pointer;
  }

.btn-form-close {
    display: block;
    background-color: #E7E9FC;
    border: 1px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-top: 24px;
    margin-left: 360px;
    margin-bottom: 24px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  
 
.form-item {
    display: inline-block;
    width: 408px;
    text-align: center;
    background-color: #FFF;
}

.text-form {
    text-align: center;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
}

.label-text {
    text-align: left;
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2; 
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    margin-bottom: 4px;
    margin-left: 24px;
      
}

.input-form {
    width: 360px;
    height: 40px;
}

.textarea-form {
    resize: none;
    width: 360px;
}

.order-form {
    display: block;
    margin: 0 auto;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    background-color: #4D5AE5;
    border: none;
    cursor: pointer;
    padding: 16px 32px 16px 32px;
    border-radius: 4px;
}

.order-form:hover {
    background-color: #404BBF;
    transform: cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms;
    cursor: pointer;
}

.label-textarea {
    display: flex;
}
